* {
    margin: 0px;
    padding: 0px;
}


/* default font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
}

/* shared style*/
.text-primary{
  color: rgba(78, 71, 255, 1);

}

.btn-primary{
    background-color: rgba(78, 71, 255, 1);
   font-weight: bold;
   color: rgba(255, 255, 255, 1);
   padding:12px 36px;
   border-radius: 5px;

   border: none;
   text-align: center;
 cursor: pointer;

   

}

.btn-primary:hover{
background-color: rgba(0, 0, 0, 0.479);
}

/* nav styles*/
nav {
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 150px;
 
   padding: 50px 0px;
}

.nav-title{
    font-weight:800;
    font-size: 34px;
   
}

/* banner styles */
 .banner{
  height: 237px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:200px 260px 152px ;


 }

 .banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
   
    width: 900px;
    
 }
 
 .banner-content{
   text-align: center;
 }

.header{
    
    background-image: url('../images/Hero-bg.png');
   height: 100vh;
    background-size: cover; 
     background-position: center;
    
    
}

/* main style */
/* main{
max-width: 1140px;
  margin: 0 auto;
} */

.fullbody-clr{
 background-color:rgba(238, 240, 241, 0.973);
}


/* action style */

.action-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;
    color: rgba(37, 36, 50, 1);
}

.action-subtitle{
    font-weight: 400; 
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;

}

.action-content{
    text-align: left;
    width: 517px;
    height: 203px;
   
}

.action-margin{
    display: flex;
    justify-content: space-between;
    margin: 120px 130px;
   background-color:rgba(179, 177, 208, 0.149);
 
   

}

.action-img{
    border-radius: 48px;
}

/* productive-users style */
.users-padd{
  padding: 50px 142px;
}
.productive-title{
  font-weight: bold;
  font-size: 38px;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 40px;
}

.productive-bg{
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
    margin: 120px 130px;
    text-align: center;
}
.productives-items{
  display: flex;
  justify-content: space-around;
  gap: 158px;
}
.pro-item-title{
  font-weight: bold;
  font-size: 80px;

}
.pro-item-description{
    font-weight: 400; 
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);
}

/* feedback section */

.feedback-title{
  font-weight: bold;
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
  margin-bottom: 50px;
}

.text-center{
  text-align: center;
}

.fback-2{
display: flex;

}
.fback-2-data{
margin-left: 12px;
  gap: 2px;
  
}
.fback-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
}

.shadow-img{
 box-shadow: 0 4px 8px rgba(87, 82, 157, 0.736);
 /* object-fit: cover; */
}


.fback-container{
  display: flex;
  gap: 20px;

}
.feedback{
  margin: 120px 130px;
}

.fback-margin{
margin: 24px 24px;
}



.fback{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px 24px;
  border-radius: 14px;
}

.fback-2-title{
  margin-bottom: 5px;
  margin-top: 5px;
   color: rgba(0, 0, 0, 0.5);
   /* font-size: 10px; */
}
.fback-2-description{
    margin-bottom: 5px;
  margin-top: 5px;
   color: rgba(0, 0, 0, 0.392);
}

/* Let's get in touch section */


.form-title{

font-weight: bold;
font-size: 97px;
color: rgba(0, 0, 0, 1);
margin: 100px 5px;
 
}

.form{
display: flex;
  margin: 90px 130px 20px;
 
  justify-content: space-between;
  gap: 200px;
  background-color: ;
}

label,input,textarea{
  display: block;
  margin-bottom: 10px;

 
}

.label{
  font-size: 15px;
  font-weight: bold;

}

.input{
  padding: 20px 32px;
border-radius: 10px;
border: none;
resize: none;
width: 400px;
font-size: 20px;




}

.submit{
  width: 466px;
}





.form-data{
  margin-left: 40px;
}
